.l-menu {
	background: #303040;
	text-align: center;
	height: 50px;
	line-height: 50px;
	// border-bottom : 5px solid rgba(150,150,150,0.5);
}

.nav {
	list-style-type: none;
	list-style: none;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	position : relative;
}

.nav .nav-item {
	float : left;
	padding : 0 20px;
	background: #303040;
	height: 100%;
	text-align: center;
	display: inline-block;
	color: #EEE;
}

.nav .nav-item a {
	text-decoration: none;
	color: #EEE;
}

.nav .nav-item a:hover {
	text-decoration: underline;
}

// .nav::before {
// 	content:'';
// 	border-left: 66.66667px solid transparent;
// 	border-right: 66.66667px solid transparent;
// 	border-top: 50px solid rgba(150,150,150,0.5);
// 	width: 0;
// 	height: 0;

// 	display: block;
	
// 	position: absolute;
// 	bottom: -55px;
// 	left: 50%;
// 	margin-left: -66px;
// 	z-index: 1;
// }

.nav::after {
	content:'';
	border-left: 66.66667px solid transparent;
	border-right: 66.66667px solid transparent;
	border-top: 50px solid #303040;
	width: 0;
	height: 0;

	display: block;
	
	position: absolute;
	bottom: -50px;
	left: 50%;
	margin-left: -66px;
	z-index: 2;
}
