.l-header {
	height: 150px;
	line-height: 100px;
	background: #303040;
	color: #EEE;
	text-align: center;
}

.l-header .title-bloc {
	line-height: normal;
	vertical-align: middle;
	display: inline-block;
}
