/*************************************
**************** NAVBAR **************
*************************************/


* {padding: 0;margin: 0;}

html  {
	margin: 0;padding: 0;
	
}

body {
	font-family: Open sans, helvetica;
}

.container {
	max-width: 900px;
	margin: auto;
}

.content {
	height: 1000px;
	padding-top: 100px;
}

#accueil {
	background: #716861;
	background: #222;
	height: 150px;
	font-size: 20px;
	text-align:center;
	font-weight: bold;
	color: #EEE;
}

#galerie {
	background: #E77D25;
}
#biographie {
	background: url(../img/min/bg1.jpg) center 0 no-repeat fixed;
	-webkit-box-shadow: 0 0 10px #000;
	        box-shadow: 0 0 10px #000;
    background-size : cover;
}
	#biographie .container { 
		background-color: rgba(200, 200, 200, 0.5);
		padding: 20px;
	}
		#biographie .container p {
			width: 500px;
			text-align: justify;
			margin: 10px 0; 
		}

#contacts {
	background: #E7257D;
}

#expositions {
	background: url(../img/min/bg3.jpg) center 0 no-repeat fixed;
	-webkit-box-shadow: 0 0 10px #000;
	        box-shadow: 0 0 10px #000;
    background-size : cover;
}




/*************************************
**************** HEADER **************
*************************************/

header {
	background: url(../img/min/bg2.jpg) center 0 no-repeat fixed;
	-webkit-background-size : cover;
			background-size : cover;
}


header .bg-cover {
	position : absolute;
	right: 0;
	left:0;
	bottom:0;
	z-index: 1;
	height: 100%;
	
	background-color: rgba(0,5,8,0.4);
}



/*************************************
**************** NAVBAR **************
*************************************/


.navbar {
	position:fixed;
	top: 0;
	left:0;
	right: 0;
	z-index: 2;
	
	-webkit-transition: all 1s;
	transition: all 1s;
}

.navbar.full .logo {
	background: url(../img/yvon-logo.png) center 0 no-repeat;
	background-size:456px 241px;
	width: 456px; height: 241px;
	margin: 0 auto;
	z-index: 2;
	-webkit-transition: all 0.5s;
		transition: all 0.5s;
}

.navbar.shrink .logo {
	/* background: url(../img/yvon-logo-min.png) center 0 no-repeat;
	background-size:206px 92px;
	width: 206px; height: 92px;
	 */
	background: url(../img/yvon-logo-min2.png) center 0 no-repeat;
	background-size:112px 50px;
	width: 112px; height: 50px;
	
	background-size:cover;
	float: left;
	z-index: 2;
	position: fixed;
	top: 10px;
	-webkit-transition: all 0.5s;
		transition: all 0.5s;
}


.navbar.full {
	height: 400px;
	line-height: 100px;
}

.navbar-logo {
	float: left;	
}
	.navbar.full .navbar-logo img {
		width: 100px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}

.navbar.shrink {
	height: 60px;
	line-height: 60px;
	
	background: #222;
}
.navbar.shrink .navbar-logo img{
	width: 50px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}


.navbar.full .navbar-menu {
	overflow: hidden;
	text-align: center;
}

.navbar.shrink .navbar-menu {
	overflow: hidden;
	text-align: right;
}
	.navbar-menu a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
		color: #FFF;
		padding: 0 15px;
	}
		.navbar-menu a.active {
			color: #D8A050;
		}